.ck.ck-content a.btn {
  border: 1px dashed #888;
  position: relative;
  display: inline-block;
}

.ck.ck-content a.btn span {
  display: inline-block;
  padding: 5px 10px;
}

.ck.ck-content a.btn::before {
  position: absolute;
  font-size: 0.5em;
  content: "[ BB ]";
  display: block;
  background: white;
  white-space: nowrap;
  top: -1em;
  right: 1em;
}

.ck.ck-content a.btn .fa,
.ck.ck-content a.btn .glyphicon {
  border: 1px dashed #888;
  display: inline-block;
  padding: 5px;
}

.c5bb_balloon .form-item-select-wrapper {
  position: relative;
}

.c5bb_balloon .form-item-select-wrapper .form-item__label {
  position: absolute;
  left: 0;
  transform: translate(var(--ck-spacing-medium),-6px) scale(.75);
  transform-origin: 0 0;
  margin: 0;
  padding: 0 5px;
  background-color: white;
  display: block;
}